<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<string></string>
	<key>1</key>
	<string>请病假需上传医院开具的住院证明或病休证明的照片或扫描件</string>
	<key>2</key>
	<string>以下婚产假制度自2016年5月1日起实施（均为自然日，非工作日)。
    产假制度：
    女性员工分娩(凭准生证和出生证)给分娩产假128天，入职满一年（含）以上的，另加30天。
    男性员工配偶分娩(凭准生证和出生证)给陪产假10天，入职满一年（含）以上的，另加5天。
    女性员工凭医院出具的证明，可申请休流产假，流产假假期，按国家相关规定执行。
    正式员工入职满一年，产假期间费用由社会保障局支付，未满一年的，公司发给每月基本生活费。
    婚假制度：
    员工凭结婚登记证给假3天，入职满一年（含）以上的员工另加4天。
    </string>
	<key>3</key>
	<string>以下婚产假制度自2016年5月1日起实施（均为自然日，非工作日)。
    产假制度：
    女性员工分娩(凭准生证和出生证)给分娩产假128天，入职满一年（含）以上的，另加30天。
    男性员工配偶分娩(凭准生证和出生证)给陪产假10天，入职满一年（含）以上的，另加5天。
    女性员工凭医院出具的证明，可申请休流产假，流产假假期，按国家相关规定执行。
    正式员工入职满一年，产假期间费用由社会保障局支付，未满一年的，公司发给每月基本生活费。
    婚假制度：
    员工凭结婚登记证给假3天，入职满一年（含）以上的员工另加4天。
    </string>
	<key>4</key>
	<string></string>
	<key>5</key>
	<string></string>
	<key>6</key>
	<string>2020年总共有年假：24小时已休年假：24小时</string>
	<key>7</key>
	<string>员工调休后，抵扣相等时间的可调休加班时间。加班开始时间在前的加班，先抵扣。员工因加班累积的可「调休」加班时间，有效期至每年的3月31日结束。
    至3月31日当日结束后，员工剩余未能安排「调休」的加班时间，全部清零，公司按实际剩余加班时间给员工发放加班工资。
    加班工资按国家规定执行，工作日加班支付1.5倍工资，休息日加班，支付2倍工资，法定长假加班，支付3倍工资。加班工资合并发放到员工的次月（5月发放的4月工资）工资里面。

    重要提示：请员工离职前请将未使用的加班待调休时间全部换休用完，离职后未使用的调休时间视为放弃换休，系统全部清零，清零后不再补休， 也不补工资。
    申请调休时，在下方的[冲抵加班记录]中选择添加对应的加班记录，并填写对应的[本次调休小时数]，总调休时长和请假时长要一致。
    </string>
</dict>
</plist>
